/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#allcards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
 
}

header h1 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    background-color: red;
    color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: blue;
    padding: 1rem 2vw;
}

nav button {
    background-color: white;
    border: 1px solid black;
    color: red;
    padding: .9rem 2rem;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    width: auto;
    max-width: 100%;

}

#allcards figure {
    margin: 10px auto;
    padding: 0;
    width: 250px;
    border-radius: 10px;
}


   

#allcards figure.female {
    border: solid 4px red;
    color: darkslategray;
}

#allcards img {
    width: 100%;
    border-radius: 9px 9px 0 0 ;
}

#allcards figcaption {
    text-align: center;
}

#allcards figure.male {
    border: solid 4px blue;
    color: darkslategrey;
}