@media only screen and (min-width: 35rem) {
nav button {
    flex-basis: 18%;
}
  
#saleItems section{
    display: grid;
    grid-template-columns: 300px auto;
}

#saleItems h2 {
    grid-column: 1 / span 2;
}

#saleItems img {
 grid-row: 2 / span 3;
 border-bottom-left-radius: 10px;
}
} /* end media query*/