@media only screen and (min-width: 60rem) {
img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#button {
  max-width: 20px;
  max-width: 20px;
}
 } /* end media query*/